.main {
    padding-top: 140px;
  }

.cert-form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f2f4f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cert-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cert-form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .cert-form input {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .cert-form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cert-form button:hover {
    background-color: #0056b3;
  }
  
  .cert-submitted {
    margin-top: 30px;
    padding: 20px;
    background-color: #e6ffe6;
    border: 1px solid #66bb6a;
    border-radius: 10px;
  }
  